[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
requests = "*"
pyspark = "*"
findspark = "*"

[dev-packages]
pytest = "*"
coverage = "*"
pysqlite3 = "*"
flake8 = "*"
pipfile2req = "*"
mkdocs = "*"

[requires]
python_version = "3.9"
